body {
    header {
        background-color: #FE7F2D;
        padding: 0;
        margin: 0;
        height: 8vh;
        ul {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            height: 100%;
            li {
                list-style-type: none;
                height: 100%;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;

                a {
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                }
                a:hover {
                    background-color: #FCCA46;
                }

            }
        }
    }
    
    footer {
        background-color: #A1C181;
        padding: 0;
        margin: 0;
        height: 5vh;
        h1 {
            margin: 0;
        }
    }

    main {
        background-color: #FCCA46;
        padding: 0;
        margin: 0;
        h1 {
            padding: 0;
            margin: 0;
        }
        .global-articles {
            display: flex;
            flex-wrap: wrap;
            .articles {
                background-color: #579C87;
                width: 30vw;
                padding: 5px;
                margin: 5px;
                height: 30vh;
                li {
                    list-style-type: none;
                }
                img {
                    width: 15vw;
                    height: 18vh;
                }
                .name {
                    font-size: 30px;
                }
                .reference-image {
                    display: flex;
                    .reference {
                        font-size: 12px;
                    }
                }

                .description {
                    font-size: 13px;
                }
                .price-amout-type {
                    display: flex;
                    text-align: center;
                    justify-content: space-around;
                    .price {

                    }
                }
                .articles-delivery {
                    display: flex;
                }
            }
        }

    }

}

